<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>foodServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>jdbc_driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>jdbc_url</param-name>
    <param-value>jdbc:mysql://120.25.192.94:3306/shop?useSSL=true</param-value>
  </context-param>
  <context-param>
    <param-name>jdbc_user</param-name>
    <param-value>lizitao</param-value>
  </context-param>
  <context-param>
    <param-name>jdbc_pw</param-name>
    <param-value>20172018</param-value>
  </context-param>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>foodServer.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Payment</servlet-name>
    <servlet-class>foodServer.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Homedata</servlet-name>
    <servlet-class>foodServer.Homedata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homedata</servlet-name>
    <url-pattern>/homedata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Classdata</servlet-name>
    <servlet-class>foodServer.Classdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Classdata</servlet-name>
    <url-pattern>/classdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Modify</servlet-name>
    <servlet-class>foodServer.Modify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modify</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Phonenum</servlet-name>
    <servlet-class>foodServer.Phonenum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Phonenum</servlet-name>
    <url-pattern>/phonenum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NotifyUrl</servlet-name>
    <servlet-class>foodServer.NotifyUrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotifyUrl</servlet-name>
    <url-pattern>/notifyurl</url-pattern>
  </servlet-mapping>
</web-app>